.Blocker {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f9012c;
}

.Minor {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e3d10a;
}

.Major {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #8d1dd8;
}

.Critical {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #060606;
}
